
[Unit]

Description=OSD auto toggle
PartOf=default.target

[Service]

Type=simple
ExecStart=/home/pi/bin/osdautotoggle.sh

[Install]

WantedBy=default.target
