[Unit]
Description=Boblight Ambient Lighting Daemon
Before=vdr.service

[Service]
ExecStart=/usr/sbin/chroot /storage/UBUNTU /usr/bin/boblightd
Restart=on-abort

[Install]
WantedBy=multi-user.target
